body{
    background-color: white;
}
.nav-link{
    color: black;
}
.active{
    color: #1BB275 ;
}
button{
    background-color: #1BB275 ;
    border: none;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5%; 
}
.background-img{
 background-position:right top;
 height:100vh;
 /* background-size:cover; */
 background-repeat: no-repeat;
 background-image: linear-gradient(to right,#102C5B 40%,#102c5b00),url("./14-05-24\ Website\ Landing\ Page/Image_1.png");

 }
 @media only screen and (max-width: 768px) {
   .background-img{
       background-position: center;
       height:100vh;
       /* background-size:contain; */
       background-image: linear-gradient(to right,#102C5B,#102c5b00),url("./14-05-24\ Website\ Landing\ Page/Image_1.png");
   }
}
 .calc-btn{

    color: black;
    background-color: white;
 }
 
.ser1{
    color: #1BB275;
 }
 .ser2{
    color: #102C5B;
 }

 .card-title{
   font-size: x-large;
   color: #102C5B;
 }
 .card-text{
   font-size: large;
   font-weight: lighter;
 }
.price-img{
   background-size:cover;
   background-repeat: no-repeat;
  background-position: center;
   background-image: linear-gradient(#102c5bd0,#102c5bd0),url("./14-05-24\ Website\ Landing\ Page/Image_3.png");
   overflow-x: hidden;
}
/* @media only screen and (min-width: 768px) {
   .price-img{
      background-size:cover;
      background-image: linear-gradient(#102c5bd0,#102c5bd0),url("./14-05-24\ Website\ Landing\ Page/Image_3.png");
      overflow-x: hidden;
   }
} */
.sbd{
   color: #102C5B;
}
footer{
   background-color: #102C5B;
   color:white;
}
.footerpar{
   color: white;
   font-size: larger;
}
h6{
   color: white;
   font-weight: lighter;
}
.cardgrey{
   background-color:#f3f3fb;
   height:200px
}
.card-img-top{
   height: 110px;
   width:100px;
}
.cardScroll{
   overflow-y:hidden !important;
}



